<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>자레추</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 style="text-align: center;">자레추(자취생을 위한 레시피 추천)</h1>
        <div class="box-container-center">
            <a href="/select_ingredients" style="text-decoration: none;">
                <span class="text-box">가지고 있는 재료</span>
            </a>
            <a href="/recipe_list" style="text-decoration: none;">
                <span class="text-box">추천 레시피 보기</span>
            </a>
            <a href="/add_recipe" style="text-decoration: none;">
                <span class="text-box">레시피 추가하기</span>
            </a>
        </div>
    </body>
</html>
